form{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
section {
    height: 100vh;
    width: 100%;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.fields {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #00000063;
    align-self: center;
    justify-self: center;
    padding: 0rem 10rem;
    width: max-content !important;
}
fieldset {
    box-shadow: 3px 2px 1px 2px rgb(0 0 0 / 5%);
    border: 1px solid #0000001f !important;
    border-radius: 5px;
    padding: 4rem !important;
    display: grid;
    grid-template-areas:
        'title title'
        'lfirstname iname'
        'llastname ilastname'
        'lemail iemail'
        'ltel itel'
        'lpass ipass'
        'lpass2 ipass2'
        'btnreg btnreg';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(7, max-content);
    align-items: center;
    justify-content: center;
    row-gap: 0.2rem;
    column-gap: 4rem;
    text-align: left;
    background-color: white;
}
#idName                         {grid-area: iname}
label[htmlFor='idName']         {grid-area: lname}
#idLastname                     {grid-area: ilastname}
label[htmlFor='idLastname']     {grid-area: llastname}
#idEmail                        {grid-area: iemail}
label[htmlFor='idEmail']        {grid-area: lemail}
#idTel                          {grid-area: itel}
label[htmlFor='idTel']          {grid-area: ltel}
#idPassword                     {grid-area: ipass}
label[htmlFor='idPassword']     {grid-area: lpass}
#idPassword2                    {grid-area: ipass2}
label[htmlFor='idPassword2']    {grid-area: lpass2}
#register                       {
    grid-area: btnreg;
    margin-top: 1rem;
    width: 100%;
    margin-top: auto;
}
h1{
    grid-area: title;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2rem;
    text-wrap: nowrap;
}
input {
    padding: 0.5rem;
    min-width: 23rem;
}
label {
    
    text-wrap: nowrap;
}
button:focus{
    border: 3px solid #0016ff75 !important;
}

@media screen and (max-width: 1600px) {
    section:nth-child(2){
        position: absolute;
        width: 100%;
        border: none;
    }
    
}


@media screen and (max-width: 790px) {
    section:nth-child(1){
        display: none;
        width: 0;
        height: 0;
    }
    section:nth-child(2){
        padding: 0;
        width: 100% !important;
        height: 100% !important;
    }
    fieldset {
        border: none !important;
        box-shadow: none !important;
        width: 100%;
        height: 100%;      
        padding: 1rem !important;
        display: flex;
        flex-flow: column;
        align-items: baseline;
        justify-content: flex-start;   
        gap: 0;
    }
    input {
        min-width: 0px;
    }
    button {
        padding: 3rem !important;
        display: flex !important;
        flex-flow: column !important;
        align-items: center !important;
        justify-content: center !important;
        font-size: 2rem !important;
    }
    h1{
        text-wrap: wrap;    
        margin: 0px !important;    
        align-self: center;
    }
    label {
        margin: 0px !important;
        font-size: 1.2rem;
    }
}